  
{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta. -->
        <meta charset="utf-8" />
        <meta name="keywords" content="Visit TrackIT">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <!-- Stylesheets. -->
        <title>Visit TrackIT see how many visits your site is getting.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet"  href="{%  static  'styles/variables.css'  %}">
        <link rel="stylesheet"  href="{%  static  'styles/styles.css'  %}">
        <link rel="stylesheet"  href="{%  static  'styles/flex.css'  %}">
    </head>
    <body class="main-body">
        <div id="overlay"></div>
        <div class="content-wrapper">
            {% include '../common/navbar.html' %}
            <div class="content">
                <header>
                    <h1 class="title">{{ domain.name }}</h1>
                    <h2>QR Code</h2>
                    {{ domain.qr_code|safe }}
                    <form method="POST" action="/download/">
                        {% csrf_token %}
                        <input name="domain" value={{domain.name}} hidden="true"></input>
                        <button class="btn btn-primary download-btn" type="submit">Download</button>
                    </form>
                    {% if visits|length %}
                        <h2>Total visits: {{visits|length}}</h2>
                    {% else %}
                        <h2>No visits yet</h2>
                    {% endif %}
                </header>
                {% if visits|length %}
                    <section class="list">
                        <h2>Recent visits:</h2>
                        {% for visit in visits %}
                            <div class="card domain">
                                <p>Visit at {{visit.created_at|localtime}}</p>
                            </div>
                        {% endfor %}
                    </section>
                {% else %}
                    <section class="central">
                        <image class="no-visits-img" src="{%  static  'images/puppy.jpg'  %}"></image>
                        <h3>Once your QR code starts accumulating visits, you will see a recent log here.</h3>
                    </section>
                {% endif %}
            </div>
        </div>
        {% include '../common/footer.html' %}
    </body>
</html>